@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


    :root {
        --boxes: #1D2C69;
        --bg: #0B122B;
        --text: 'Raleway';
        --pink1: #FA9F99;
        --pink2: #F55191;
    }

    * {
        margin: 0px;
        padding: 0px;
    }

    body {
        position: relative;
        font-family: var(--text), Arial, Helvetica, sans-serif;
        height: 100vh;
        font-size: 14px;
        color: white;
        background-image: url('../fylo_data_storage_component/images/bg-desktop.png');
        background-repeat: repeat-x;
        background-size: cover;
        background-position: top center;
    }

    #container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: 20px;
    }

    #b1 {
        background-color: var(--boxes);
        width: 300px;
        height: 200px;
        border-radius: 10px 50% 10px 10px;
    }

    #b1 > header {
        display: flex;
        gap: 10px;
        padding: 30px 0px 0px 30px;
    }

    #b1 i {
        font-size: 2em;
        padding-top: 5px;
    }

    #b1 > main {
        display: flex;
        gap: 20px;
        padding: 30px 0px 0px 30px;
    }

    a {
        position: relative;
        color: #5066bd;
        text-decoration: none;
        width: 50px;
        height: 50px;
        background-color: var(--bg);
        border-radius: 10px;
    }

    a i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #b2 {
        background-color: var(--boxes);
        width: 500px;
        height: 150px;
        border-radius: 10px;
    }

    #b2 > header {
        padding: 30px 0px 0px 30px;
        font-size: 0.8em;
        font-weight: lighter;
    }

    #b2 > main {
    display: flex;
    flex-direction: row;
    padding: 30px 0px 0px 30px;
    gap: 0px;
    }

    #ok {
        width: 350px;
        height: 15px;
        border-radius: 20px;
        border: 2px solid var(--bg);
        background-image: linear-gradient(to right, var(--pink1), var(--pink2));
        display: flex;
        justify-content: end;
    }

    #marker {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: white;
        margin: 2px 2px 0px 0px;
        position: absolute;
    }

    #notok {
        width: 80px;
        height: 15px;
        border-radius: 20px;
        border: 2px solid var(--bg);
        background-color: var(--bg);
        margin-left: -14px;
    }

    #b2 footer {
        font-size: 0.8em;
        padding-top: 10px;
        padding-left: 20px;
        display: flex;
        justify-content: space-between;
        width: 450px;
    }

    #msg {
        width: 180px;
        height: 70px;
        background-color: white;
        margin-bottom: 120px;
        margin-left: -250px;
        border-radius: 10px 10px 10px 10px;
        color: var(--bg);
        position: relative;
    }

    #msg > header {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        gap: 5px
    }

    #msg > header > h1 {
        font-size: 3em;
        padding-right: 10px;
    }

    #msg > header > p {
        font-size: 0.8em;
        padding-top: 10px;
    }
