@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --orange: hsl(25, 97%, 53%);
    --light_grey: hsl(217, 12%, 63%);
    --medium_grey: hsl(216, 12%, 54%);
    --dark_blue: hsl(213, 19%, 18%);
    --very_dark_blue: hsl(216, 12%, 8%);
    --circles: hsla(210, 3%, 31%, 0.336);
    --texto: 'Overpass';
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 16px var(--texto);
    height: 100vh;
    width: 100vw;
    background-color: var(--very_dark_blue);
    color: white;
}

main {
    background-color: var(--dark_blue);
    width: 90vw;
    padding: 30px;
    border-radius: 20px;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#form > .star {
    background-color: var(--circles);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#form > h1 {
    font-size: 1.8em;
}

#form > p {
    color: var(--medium_grey);
    font-size: 0.9em;
}

ul {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 10px;
}

ul > li {
    list-style-type: none;
}

li > button {
    color: white;
    background-color: var(--circles);
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    transition-duration: .2s;
}

li > button:hover {
    color: white;
    background-color: var(--orange);
}

li > button:focus { /*é essa pseudo-classe que faz com que, ainda que rapidamente, o botão mude de cor ao clicar (foco).*/
    color: white;
    background-color: var(--medium_grey);
}

#submit {
    border: none;
    color: white;
    background-color: var(--orange);
    padding: 15px;
    border-radius: 20px;
    letter-spacing: 2px;
    transition-duration: .2s;
}

#submit:hover {
    color: var(--orange);
    background-color: white;
}

/*-=-=-=-=-=-=-=-=-=--=--=-=-=-=-=-=*/

#feedback {
    display: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 30px;
}

#feedback > .submit-message {
    color: var(--orange);
    background-color: var(--circles);
    width: 70%;
    padding: 10px;
    border-radius: 20px;
}

#feedback > p {
    color: var(--light_grey);
}
