@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    /*primary*/
    --bright_blue: hsl(220, 98%, 61%);
    --check_background1: hsl(192, 100%, 67%);
    --check_background2: hsl(280, 87%, 65%);
    /*light theme*/ 
    --very_light_grey: hsl(0, 0%, 98%);
    --very_ligth_grayish_blue: hsl(236, 33%, 92%);
    --light_grayish_blue: hsl(233, 11%, 84%);
    --dark_grayish_blue: hsl(236, 9%, 61%);
    --very_dark_grayish_blue: hsl(235, 19%, 35%);
    /*dark theme*/
    --very_dark_blue: hsl(235, 21%, 11%);
    --very_dark_desaturated_blue: hsl(235, 24%, 19%);
    --light_grayish_blue_hover: hsl(236, 33%, 92%);
    --very_very_dark_grayish_blue: hsl(237, 14%, 26%);
    /*text*/
    --text: 'Josefin Sans';
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100vw;
    font-size: 18px;
    font-family: var(--text);
    overflow-x: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100vh;
    width: 100vw;
    background-repeat: repeat-x;
    background-image: url('images/bg-mobile-dark.jpg');
    background-size: contain;
    position: absolute;
    padding: 60px 20px;
    transition: all .2s;
}

#appMode {
    cursor: pointer;
    transition: all .5s;
}

.mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.mainHeader > h1 {
    color: var(--very_light_grey);
    font-size: 1.5rem;
    font-weight: 700;
}

.mainInput {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
}

.mainInput > input {
    background-color: transparent;
    border: none;
    font-family: var(--text);
    color: var(--dark_grayish_blue);
}

.mainInput > input:focus {
    outline: none;
}

.mainTasks {
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 100%;
    box-shadow: 5px 2px 20px rgba(0, 0, 0, 0.404);
    transition: all .2s;
}

.taskBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 0.8rem;
    transition: all .2s;
}

.taskBox > p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tasksLeft {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 0.7rem;
    color: var(--dark_grayish_blue) !important;
    border-radius: 0px 0px 5px 5px;
    transition: all .2s;
}

.mainStatus {
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    font-size: 0.6rem;
    font-weight: 700;
    box-shadow: 5px 2px 20px rgba(0, 0, 0, 0.404);
    transition: all .2s;
}

/*auxiliar classes*/

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 1px solid var(--very_dark_grayish_blue);
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s;
}

.circle:hover {
    border: 1px solid var(--very_ligth_grayish_blue) !important;
}

.hide {
    display: none !important;
}

.gradient {
    background-image: linear-gradient(to right, var(--check_background1), var(--check_background2)) !important;
    border: none !important;
}

.checked {
    text-decoration: line-through;
    color: var(--very_dark_grayish_blue) !important;
}

.cross {
    cursor: pointer;
}

.selected {
    color: var(--bright_blue) !important;
}

.touchable {
    cursor: pointer;
}

.touchable:hover {
    text-decoration: underline;
}

#status1 {
    justify-content: center;
    gap: 20px;
    width: auto;
    border: none !important;
    padding: 0px;
    background-color: transparent;
    color: var(--dark_grayish_blue);
    box-shadow: none !important;
    font-size: 0.7rem;
}

/*THEMES*/

/*dark*/

.darkBox {
    background-color: var(--very_dark_desaturated_blue);
    color: var(--light_grayish_blue);
    border-bottom: 1px solid var(--very_dark_grayish_blue);
    transition: all .2s;
}

.darkMain {
    background-color: var(--very_dark_blue);
    transition: all .2s;
}

/*light*/

.lightMain {
    background-color: var(--light_grayish_blue);
    transition: all .2s;
}

.lightBox {
    background-color: var(--very_light_grey);
    color: var(--very_dark_desaturated_blue);
    border-bottom: 1px solid var(--light_grayish_blue);
    transition: all .2s;
}

/**/

@media(min-width: 992px) {
    .main {
        background-repeat: repeat-x;
    }
    
    .mainHeader, .mainInput, .mainTasks, .mainStatus {
        width: 500px;
    }

    .tasksLeft, .mainStatus {
        font-size: 0.7rem;
    }
}