@charset "UTF-8";

/* 500, 700, 18px */

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --almost_white: hsl(0, 0%, 98%);
    --medium_gray: hsl(0, 0%, 41%);
    --almost_black: hsl(0, 0%, 8%);
    --text: 'Epilogue';
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100vw;
    font-family: var(--text);
}

.background {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99999999999999;
    transition: all .2s;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--almost_white);
    width: 60%;
    padding: 20px;
}

.menuExit {
    display: flex;
    justify-content: flex-end;
    background-color: var(--almost_white);
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
}

.pClick {
    cursor: pointer;
}

.pClick:hover {
    text-decoration: underline;
}

.menuList {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px;
}

.menuList > li {
    list-style-type: none;
}

.menuList > li > img {
    margin-right: 10px;
}

.menuLoginRegister {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btnLogin {
    padding: 10px;
    background-color: var(--almost_white);
    border: none;
}

.btnRegister {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--almost_white);
    border: 1px solid var(--almost_black);
}

.btnRegister:hover {
    transform: scale(1.05);
}

.hide {
    display: none !important;
    transition: all .2s;
}



.navigation {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}

.navigationHamburguer {
    cursor: pointer;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.informationImg {
    width: 100%;
    height: 300px;
    background: url('images/image-hero-mobile.png') no-repeat;
    background-size: cover;
}

.informationData {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px;
    gap: 20px;
}

.informationData > h1 {
    text-align: center;
    font-size: 2.2rem;
}

.informationData > p {
    text-align: center;
    width: 95%;
    line-height: 25px;
    color: var(--medium_gray);
    font-weight: 700;
}

.informationButton > button {
    border-radius: 10px;
    border: none;
    padding: 10px;
    background-color: var(--almost_black);
    color: var(--almost_white);
    font-family: var(--text);
}

.informationFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

.informationFooter > img {
    width: 70px;
    height: 20px;
}