@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --strong_cyan: hsl(172, 67%, 45%);
    --very_dark_cyan: hsl(186, 14%, 43%);
    --grayish_cyan: hsl(184, 14%, 56%);
    --light_grayish_cyan: hsl(185, 41%, 84%);
    --very_light_grayish_cyan: hsl(189, 41%, 97%);
    --dark_green: #00474C;
    --text: 'Space Mono';
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100vw;
    font-size: 24px;
    font-weight: 700;
    font-family: var(--text);
    background-color: var(--light_grayish_cyan);
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 30px;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
}

form #infos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    text-align: right;
}

#infos .title {
    display: flex;
    justify-content: space-between;
    color: var(--very_dark_cyan);
    font-size: 0.6rem;
    margin-bottom: 20px;
}

#infos .title .error {
    color: red;
}

.infos-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    width: 100%;
    padding: 15px;
    height: 60px;
    background-color: var(--very_light_grayish_cyan);
    border-radius: 5px;
}

#infos-bill input {
    width: 40%;
}

.infos-input input {
    border: none;
    font-size: 24px;
    font-weight: 700;
    font-family: var(--text);
    color: var(--dark_green);
    background-color: var(--very_light_grayish_cyan);
}

.infos-input input:focus {
    outline: none;
}

#infos-people input {
    width: 20%;
}

#infos-tip #infos-tip-btn {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 150px 150px;
    grid-template-rows: 50px 50px 50px;
    gap: 20px;
}

#infos-tip #infos-tip-btn button {
    width: 150px;
    height: 50px;
    background-color: var(--dark_green);
    color: white;
    font-size: 1rem;
    font-weight: 700;
    font-family: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: .2s;
}

#infos-tip-btn > input {
    background-color: var(--very_light_grayish_cyan);
    width: 150px;
    height: 50px;
    font-size: 1rem;
    font-weight: 700;
    font-family: var(--text);
    text-align: end;
    border: none;
    border-radius: 5px;
    color: var(--dark_green);
}

#infos-tip #infos-tip-btn button:hover {
    background-color: var(--strong_cyan);
}

#infos-tip-btn > input:hover {
    background-color: var(--light_grayish_cyan);
}

#infos-tip #infos-tip-btn button:focus {
    background-color: var(--strong_cyan);
}

#infos-tip #infos-tip-btn input:focus {
    background-color: var(--light_grayish_cyan);
    outline: none;
}

#results {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
    background-color: var(--dark_green);
    padding: 30px 20px;
    border-radius: 20px;
}

#results .results-value {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.results-value > p {
    font-size: 0.8rem;
}

.results-value span {
    font-size: 0.7rem;
    color: var(--grayish_cyan);
}

.results-value > h1 {
    font-size: 2rem;
    color: var(--strong_cyan);
}

#results input {
    background-color: var(--strong_cyan);
    color: var(--dark_green);
    font-size: 1rem;
    font-family: var(--text);
    font-weight: 700;
    text-align: center;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: .3s;
}

#results input:hover {
    background-color: white;
}

.disappear {
    display: none;
}

.wrong {
    border: 1px solid red;
}

.typing {
    border: 1px solid var(--strong_cyan);
}

/* -=-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=- */

@media (min-width: 992px) {
    
    body, html {
        overflow: hidden;
    }

    #container {
        margin-top: 30px;
    }

    form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 60vw;
        height: 450px;
        gap: 30px;
        border-radius: 20px;
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.315);
    }

    #infos {
        width: 50%;
    }

    #infos-tip #infos-tip-btn {
        grid-template-columns: 120px 120px 120px;
        grid-template-rows: 50px 50px;
        gap: 10px;
    }

    #infos-tip #infos-tip-btn .btn {
        width: 120px;
    }

    #results {
        width: 50%;
    }

    #results input {
        margin-top: 80px;
    }
}